h1{
    color: #ffff00;
}
*{
    border:solid;
}
.header{
 background-color: #ff00ff;
 display: flex;
 justify-content: space-between;
 
}
.grid{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    background-color: #ffa500;
     display: flex;
     justify-content: flex-end;
     
}
p,h2{
    background-color: #00ff00;
 text-align: center;

}
 body{
    background-color:#ff0000;
 }